* {
  box-sizing: border-box;
}
body {
  background: #f2f2f2;
  width: 900px;
  margin: auto;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.shadow {
  box-shadow: 10px 0 5px -5px rgba(0,0,0,.1),
    -10px 0 5px -5px rgba(0,0,0,.1);
  background: #fff;
  min-height: 1080px;
}
.container {
  width: 885px;
  margin: auto;
}

.header {
  margin-bottom: 30px;
}
.content {
  min-height: 500px;
}

.col1 {
  width: 295px;
  float: left;
}

.col2 {
  width: 590px;
  float: left;
}

.col3 {
  width: 885px;
  float: left;
}

.header__title {
  color: rgb(174, 126, 240);
  text-align: center;
  margin: 0;
  font-size: 50px;
  
}

.header__title a {
  color: rgb(174, 126, 240);
  text-decoration: none;  
}

.main-nav a::after {
  content: "|";
  margin: 10px;
}
.main-nav a:last-child::after {
  content: "";
}
.main-nav a {
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
  color: rgb(15, 152, 105);
}

a:hover {
  text-decoration: underline;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  width: 100%;
  background: #d1d1d1;
}

.footer__title {
  font-size: 14px;
  text-transform: uppercase;
}

.content__vio {
  margin-left: 30px;
}

.content__vio dt {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

.content__vio dd {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.53);
}

.content__tabs {
  font-size: 0;
}
.content__tabs-item {
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  background: #989898;
  text-decoration: none;
  color: white;
  border-radius: 5px 5px 0 0;
  margin-right: 5px;
}
.content__tabs-item--active {
  background: #d0d0d0;
}
.content__notes {
  background: #d0d0d0;
}
.content__notes ul {
  margin: 0;
  padding: 15px 10px;
  list-style: none;
}
.content__notes li {
  background: white;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}