body {
  background: #f2f2f2;
  width: 900px;
  margin: auto;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.shadow {
  box-shadow: 10px 0 5px -5px rgba(0,0,0,.1),
    -10px 0 5px -5px rgba(0,0,0,.1);
  background: #fff;
  min-height: 1080px;
}
.header, .content, .footer {
  width: 885px;
  margin: auto;
}

.content {
  min-height: 500px;
}

.col1 {
  width: 295px;
  float: left;
}

.col2 {
  width: 590px;
  float: left;
}

.col3 {
  width: 885px;
  float: left;
}

h1 {
  color: rgb(174, 126, 240);
  text-align: center;
  margin: 0;
}

p {
  color: gray;
  border: 1px solid black;
  padding: 10px;
}

a {
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
  color: rgb(15, 152, 105);
}

a:hover {
  text-decoration: underline;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.footer__title {
  font-size: 14px;
  text-transform: uppercase;
}