* {
  margin: 0;
  padding: 0;
}

.conainer {
  width: 855px;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.span1 {
  display: inline;
  width: 285px;
  float: left;
}
.span2 {
  display: inline;
  width: 570px;
  float: left;
}
.span3 {
  display: inline;
  width: 855px;
  float: left;
}

.header {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.header em {
  
  text-align: right;
}

.content {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.content__comments {
  text-align: center;
}

.content__comments p {
  position: relative;
  margin-bottom: 5px;
  border-radius: 5px;  
  padding: 5px;
}
.content__comments p:nth-child(odd) {
  background: #aaaaaa;  
}
.content__comments p:nth-child(even) {
  background: #dddddd;  
}

.content__comment-title {
  margin-bottom: 5px;
}
.content__comment-btn {
  margin-left: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;
  background: #fff;
/*  color: white;*/
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(119, 119, 119, 0.79);
}
.content__comment-btn:hover {
  box-shadow: 0 0 5px 2px rgba(119, 119, 119, 0.79);
}
.content__comment-btn:active {
  box-shadow: 0 0 5px rgba(119, 119, 119, 0.79);
}

div[id^="close_p"] {
  position: absolute;
  right: -40px;
  top: 0;
  
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #ff6767;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.62);
  cursor: pointer;
}